@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-color: #021F79;
	color: #FFF;
	font-family: 'DotGothic16', bold;
	font-size: 20px;
}

.hidden { display: none }

#game-boards { width: 100%; text-align: center; }

.audio-pieces, .mixer-board {
	margin-top: 40px;
	height: 400px;
	display: inline-block;
	border: medium solid #021F79;
	background-color: #021F79;
	color: inherit;
	overflow: hidden;
}

.audio-pieces { 

	width: 400px;
	margin-right: 20px;
	height: 500px;
}

.mixer-board { 
	width: 510px; 
	opacity: 0.85;
	height: 360px;
	background-image: url(../images/drop-zone-background.jpg);
	background-repeat: no-repeat;
	background-size: 510px 360px;
}

.puzzle-image {
	width: 170px;
	height: 170px;
	display: block;
	padding: 0px;
	cursor: pointer;
}

/* arrange the puzzle pieces on the board */
.puzzle-image:nth-child(even) {
	float: right;
	
}

.puzzle-image:nth-child(odd) {
	float: left;
	
}



/* add padding */
.drop-zone {
	width: 150px;
	height: 160px;
	border: thin dashed white;
	display: inline-block;
	padding: 5px;
}

/* fix drop zone image styles */
.drop-zone img { 
	width: 100% !important;
	bottom: 0;
	padding: 0;
	margin: 0;
	 }

.tl img. .bl img { right: 0; }
.br img. .bl img { top: 0; }



/* end board styles */


header {
	position: relative;
	top: 20px;
	width: 600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  	letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p { 
	font-size: 1.7em; 
	letter-spacing: 2px; 
	margin: 10px 0 
}

footer {
	position: relative;
	width: 600px;
	margin: 65px auto 0;
	text-align: center;
}

#buttonHolder { margin: 0px auto; text-align: center; }

#buttonHolder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor: pointer;
}

#buttonHolder img:hover { opacity: .5; }